body {
  background: url(./img/dog2.jpg) center center/cover no-repeat fixed ;
  overflow: hidden;
}

.title {
  font-family: 'Anton';
  font-size: 25rem;
  color: aliceblue;
  display: flex;
  margin-bottom: 0.1rem;
  margin-left: 5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: ease-out 0.5s;
  outline: none;
}

.title:hover{
  color: black;
}

.subtitle {
  font-size: 3rem;
  font-family: 'Anton';
  color: aliceblue;
}

.logos {
  margin: 0%;
  margin-left: 6rem;
}

.icons {
  width: 5%;
  height: 10%;
}

